@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  float: left;
}

#gnb {
  width: 800px;
  height: 100px;
  background-color: antiquewhite;
}

#gnb ul {
  float: right;
  margin: 40px 0 0 0;
}

#gnb ul li {
  position: relative;
  /*위치: 상대적 - 하위요소가 abolute일 때 하위요소의 기준*/
}

#gnb ul li::after {
  content: "";
  /*가상클래스 after의 기본형식*/
  /*내용: 아래와 같음*/
  width: 1px;
  height: 6px;
  background-color: red;
  position: absolute;
  /*위치: 절대적 - 상위요소에 relative 속성이 있으면 상위요소가 기준*/
  right: 0;
  top: 3px;
}

#gnb ul li:last-child::after {
  content: none;
  /*내용: 없음*/
}

#gnb a {
  font: normal 12px/1 '나눔 고딕';
  /*폰트속성축약: 두께 크기/행간 '글꼴'(반드시 순서대로/글꼴과 크기는 생략 불가)
  */
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  display: block;
  height: 12px;
}

#gnb ul li:last-child a {
  padding-right: 0;
}
